{% extends 'base.html' %}

{% block content %}
  <h1>Welcome {{ request.user }}</h1>
    <br>
    <br>
    {% if not request.user.is_authenticated %}
    <div class="row">
      <div class="col-md-8">
        <div class="panel panel-default">
          <div class="panel-heading">
              <h3>Login</h3>
          </div>
          <div class="panel-body">
            <form class="" action="{% url 'login' %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" name="" value="Login!">
            </form>
          </div>
        </div>
      </div>
    </div>

    {% endif %}
    {% if request.user.is_authenticated %}
      <h2><a href="{% url 'balance_create_view' %}">Calculate Balance</a></h2>
    {% endif %}
{% endblock %}
