{% extends 'base.html' %}

{% block content %}
 <br>
  <h1><b>{{ request.user }}'s</b> Transactions Report</h1>
  <br>
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 id="under">Remaining Balance</h3>
        </div>
        <div class="panel-body">
          <h2 id="center"><b>${{ request.user.profile.balance|floatformat:2 }}</b></h2>
        </div>
      </div>
    </div>
    {% for account in accounts %}
      {% if request.user == account.user %}
      <div class="profile_info">
          <div class="col-md-7">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h2 id="under"><b>{{ account.get_operator1_display }}</b></h2>
              </div>
              <div class="panel-body">
                <h4 id="center">Transaction: <b>${{ account.num1|floatformat:2 }}</b></h4>
              </div>
              <div class="panel-footer">
                Transaction Date and Time:  {{ account.created }}
              </div>
            </div>
          </div>
        </div>
    {% endif %}
  {% endfor %}
  </div>

{% endblock %}
