{% extends 'base.html' %}

{% block content %}
 | <a href="{% url 'balance_create_view' %}">Calculate Balance</a> <br>
  <h1>{{ request.user }}'s Transactions Report</h1>
  <br>

    {% for account in accounts %}
      {% if request.user == account.user %}
      <div class="profile_info">
        <div class="row">
          <div class="col-md-7">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h2>Remaining Balance: <b>${{ request.user.profile.balance|floatformat:2 }}</b></h2>
              </div>
              <div class="panel-body">
                <h4>Transaction: <b>${{ account.num1|floatformat:2 }} - {{ account.get_operator1_display }}</b></h4>
              </div>
              <div class="panel-footer">
                Transaction Date and Time:  {{ account.created }}
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  {% endfor %}

{% endblock %}
