{% extends 'base.html' %}

{% block content %}
{% if request.user.is_authenticated %}
  <form class="" action="" method="post">
    {% csrf_token %}
    <select class="" name="operator1">
        <option value="D">Depost</option>
        <option value="W">Withdraw</option>
    </select>
      <input type="number" step=".01" name="num1" min="0" value="" placeholder="Transaction">  <br>
      <input type="submit" name="" value="Calculate!">
  </form>

  {{ transaction.last.calc_total }}
{% endif %}
{% endblock %}
